extends layout 

block content
    .container.pt-5 
        h1= title

    .container 
        .row 
            each db in datas
                .col-4.p-0.product
                    .product_img(cardId = '/'+db.id)
                        img(alt='' width='280px' height='395px' src= db.photo)
                        span.saleing= db.sale
                    span.product_caption.text-center= db.title
                    span.product_description.text-center= db.dateNow.toDateString()
                    .rate_more
                        h6
                            | Price: 
                            span= `$${db.price}`
                        h6
                            | Sale_price: 
                            span.sale_price= `$${db.price - (db.price * db.sale / 100)}`
                        h6
                            | Category: 
                            span= db.category 
                    .like.d-flex
                        span.writeLike= db.like 
                        span.btn.btn-success.clickLike(likeId = '/'+db.id) Like
