extends layout 

block content
    .container.pt-5 
        h1= title

    .container 
        .row
            .col-4.p-0.product
                .product_img
                    img(alt='' width='280px' height='395px' src= db.photo)
                    span.saleing= db.sale
                span.product_caption.text-center= db.title
                span.product_description.text-center= db.dateNow.toDateString()
                .rate_more
                    h6
                        | Price: 
                        span= `$${db.price}`
                    h6
                        | Sale_price: 
                        span.sale_price= `$${db.price - (db.price * db.sale / 100)}`
                    h6
                        | Category: 
                        span= db.category 
                a(href="/edit/"+db.id class='btn btn-success') O'zgartirish
                a(href="/delete/"+db.id class='btn btn-danger') O'chirish
